body {
    background: url(image_7247-Dog-Ownership.jpg) no-repeat center/cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

.menu {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 10px;
    top: 37px;
    left: 0;
}

.dog {
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap to the next row */
    justify-content: flex-start; /* Start from the left */
    align-items: flex-start; /* Align to the top */
    margin: 300px 10px;
    width: fit-content;
    align-content: center;
    justify-content: center;
}

.getNewDog {
    color: rgb(7, 7, 7);
    position: relative;
    padding: 10px;
    margin-left: 10px;
    font-weight: 1000;
    background: rgb(107, 155, 218);
    border-color: aliceblue;
    border-style: solid;
}

.input {
    color: rgb(7, 7, 7);
    position: relative;
    padding: 5px;
    margin-left: 10px;
    font-weight: 700;
    background: rgb(242, 244, 246);
    border-color: aliceblue;
    border-style: solid;
}

.search {
    color: rgb(250, 247, 247);
    position: relative;
    padding: 5px;
    margin-left: 10px;
    font-weight: 1000;
    background: rgb(26, 36, 48);
    border-color: aliceblue;
    border-style: solid;
}

.header {
    display: block;
    position: absolute;
    margin-left: 500px;
    padding: 0px;
    margin-top: 0px;
    justify-content: left;
}

.header p {
    color: rgb(242, 236, 236);
    font-weight: 1000;
    text-decoration: double;
    text-stroke: 0.5px rgb(14, 11, 11); /* Adding a black outline with a 2px width */
    -webkit-text-stroke: 0.6px rgb(28, 18, 18); /* For WebKit-based browsers like Chrome */
    border-inline-color: transparent; /* Set the text fill color to transparent */
    text-decoration-color: black;
}

.header h1 {
    font-size: 55px;
}

.give{
    color: rgb(250, 247, 247);
    position: relative;
    padding: 15px;
    margin-left: 10px;
    font-weight: 700;
    background: rgb(6, 84, 21);
    border-color: rgb(68, 107, 141);
    border-style: solid;
    transition: 2s;
}

.give :hover{
background: white;
color: green;
font-weight: 1000;
}